body { /*cant cook*/
    font-family: Verdana, Tahoma, sans-serif;
    background-color: rgb(149, 125, 173);
}

p {
text-align: center
}

h1 {
text-align: center
}

h2 {
text-align: center
}

h3 {
text-align: center
}

a:link, a:visited {
  color: rgb(154, 205, 50);
}

a:hover, a:active {
  color: rgb(248, 128, 158);
}
