body { /*cant cook* :sung*/
    font-family: Verdana, Tahoma, sans-serif;
    background-image:
      linear-gradient(45deg, #cedbf0 25%, transparent 25%), 
      linear-gradient(135deg, #cedbf0 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #cedbf0 75%),
      linear-gradient(135deg, transparent 75%, #cedbf0 75%);
    background-size:20px 20px; /* square size */
    background-position:0 0, 10px 0, 10px -10px, 0px 10px; /* 1/2 of square size */
}

p {
text-align: center
}

h1 {
text-align: center
}

h2 {
text-align: center
}

h3 {
text-align: center
}

a:link, a:visited {
  color: rgb(59, 70, 84);
  text-decoration: none;
}

a:hover, a:active {
  font-weight: bold;
  color: rgb(129, 140, 131);
  text-decoration: none;
}
