body { /*cant cook* :sung*/
    font-family: Verdana, Tahoma, sans-serif;
    background-color: rgb(129, 133, 137);
    background-image:
      linear-gradient(45deg, #9082d1 25%, transparent 25%), 
      linear-gradient(135deg, #9082d1 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #9082d1 75%),
      linear-gradient(135deg, transparent 75%, #9082d1 75%);
    background-size:20px 20px; /* square size */
    background-position:0 0, 10px 0, 10px -10px, 0px 10px; /* 1/2 of square size */
	cursor: url('cat.png'),auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.centericon { 
  display: flex;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
} 

.fa {
  transition: 0.1s;
}

.fa:hover, .fa:active {
  color: rgb(229, 228, 226);
  animation-fill-mode: both;
  animation-duration: 3s;
  animation-name: shadow-pop-tr;
  animation-iteration-count: 1;
  padding: 3px 4px;
  border-radius: 3px;
  background-color: black;
  transition: 0.1s;
}

.fa-twitter {
  color: black;
}

.fa-github {
    color: black;
}

.shadow-pop-tr {
	-webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}

p {
text-align: center
}

h1 {
text-decoration: underline;
text-align: center
}

h2 {
text-align: center
}

h3 {
text-align: center
}

a:link, a:visited {
  color: rgb(59, 70, 84);
  text-decoration: none;
  transition: 0.5s;
}

a:hover, a:active {
  color: rgb(229, 228, 226);
  font-weight: bold;
  text-decoration: none;
  transition: 0.5s;
}
